[Match]
Name=eth1

[Network]
DHCP=no
IPv6AcceptRA=no
IPv6SendRA=yes

Address={{ lan.public.prefix | ansible.utils.ipaddr('1') }}
Address={{ lan.internal.prefix | ansible.utils.ipaddr('1') }}
Address=fd74:6a6f:3030:53::53/128
Address=fe80::1/64

[IPv6SendRA]
DNS=fd74:6a6f:3030:53::53

[IPv6Prefix]
Prefix={{ lan.public.prefix }}

[IPv6Prefix]
Prefix={{ lan.internal.prefix }}

[IPv6PREF64Prefix]
Prefix=64:ff9b::/96

##
# ROUTING POLICY RULES
##
[RoutingPolicyRule]
IncomingInterface=eth1
Table=1000
Priority=100
Family=ipv6

##
# ROUTES
##
[Route]
Destination={{ lan.public.prefix }}
Table=1000

[Route]
Destination={{ lan.internal.prefix }}
Table=1000

[Route]
Destination=fd74:6a6f:3030:53::53/128
Table=1000
