- name: UFW - Install
  ansible.builtin.apt:
    name: ufw
    state: present

- name: UFW - Allow SSH
  community.general.ufw:
    rule: allow
    port: '2222'
    proto: tcp

- name: UFW - Allow SSH legacy
  community.general.ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: UFW - Enable and deny by default
  community.general.ufw:
    state: enabled
    default: deny
