- name: Install Alloy
  ansible.builtin.import_role:
    name: alloy
  vars:
    alloy_username: "{{ tjo_cloud_metadata.service_account.username }}"
    alloy_password: "{{ tjo_cloud_metadata.service_account.password }}"
    otel_resource_attributes:
      service.name: "{{ tjo_cloud_metadata.service_name }}"
      service.version: "{{ tjo_cloud_version }}"
      cloud.region: "{{ tjo_cloud_metadata.cloud_region }}"
      cloud.provider: "{{ tjo_cloud_metadata.cloud_provider }}"
    alloy_custom_integrations: |
      database_observability.postgres "all" {
        data_source_name  = "postgres://postgres:{{postgresql_password}}@localhost:5432/postgres?sslmode=disable"
        enable_collectors = ["query_details", "query_samples", "schema_details"]
        forward_to        = [loki.process.drop_old.receiver]
      }

      prometheus.scrape "postgres" {
        targets      = database_observability.postgres.all.targets
        honor_labels = true // required to keep job and instance labels
        forward_to   = [otelcol.receiver.prometheus.default.receiver]
      }
