- name: Install Lego
  ansible.builtin.import_role:
    name: lego

- name: Create Lego override folders
  ansible.builtin.file:
    state: directory
    path: "/etc/systemd/system/{{ item }}"
    mode: "755"
    owner: "root"
    group: "root"
  loop:
    - "lego-renew.service.d"
    - "lego-run.service.d"

- name: Template Lego override files
  ansible.builtin.template:
    src: "../root/etc/systemd/system/{{ item }}"
    dest: "/etc/systemd/system/{{ item }}"
    mode: "644"
    owner: "root"
    group: "root"
  loop:
    - "lego-renew.service.d/override.conf"
    - "lego-run.service.d/override.conf"
  notify: Systemd daemon-reload

- name: Template postgresql.conf
  ansible.builtin.template:
    src: '../root/etc/postgresql/{{ postgresql_version }}/main/conf.d/postgresql.conf'
    dest: '/etc/postgresql/{{ postgresql_version }}/main/conf.d/postgresql.conf'
    mode: '0644'
    owner: "postgres"
    group: "postgres"
  notify: Restart postgresql

- name: Template pg_hba.conf
  ansible.builtin.template:
    src: '../root/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf'
    dest: '/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf'
    mode: '0644'
    owner: "postgres"
    group: "postgres"
  notify: Restart postgresql

- name: Create /srv/data/postgresql
  ansible.builtin.file:
    state: directory
    path: "/srv/data/postgresql"
    mode: "0700"
    owner: "postgres"
    group: "postgres"

- name: "Check if postgres data directory exists"
  ansible.builtin.stat:
    path: "/srv/data/postgresql/postgresql.conf"
  register: postgres_data

- name: "Initialize PostgreSQL"
  ansible.builtin.command:
    cmd: "sudo -u postgres -- /usr/lib/postgresql/{{ postgresql_version }}/bin/initdb -D /srv/data/postgresql"
  when: not postgres_data.stat.exists

- name: Fetch certificate
  # we run it after postgresql installed. As we need the /var/lib/postgresql
  # directory to be created. To store the certificates there.
  ansible.builtin.systemd:
    name: lego-run
    state: started

- name: Start postgresql
  ansible.builtin.systemd:
    name: postgresql@{{ postgresql_version}}-main
    state: started
    enabled: true
    daemon_reload: true

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Wait for postgresql to be ready
  ansible.builtin.command:
    cmd: pg_isready

- name: Install postgresql_user dependency
  ansible.builtin.apt:
    name: python3-psycopg2
    state: present

- name: Configure postgresql user
  community.postgresql.postgresql_user:
    name: postgres
    password: "{{ postgres_password }}"

- name: Configure barman user
  community.postgresql.postgresql_user:
    name: barman
    password: "{{ barman_password }}"
    role_attr_flags: SUPERUSER,REPLICATION

- name: Setup pg_stat_statements extension
  community.postgresql.postgresql_ext:
    name: pg_stat_statements
    login_db: postgres
    state: present
