[config]
local-keys = [ "store.*", "directory.*", "tracer.*", "!server.blocked-ip.*", "!server.allowed-ip.*", "server.*",
               "authentication.fallback-admin.*", "cluster.*",   "config.local-keys.*",
               "storage.data", "storage.blob", "storage.lookup", "storage.fts", "storage.directory", "certificate.*",
               "metrics.*", "asn.*"]

[authentication.fallback-admin]
# openssl passwd -6
secret = "$6$gxZSzKLDHK5d3fVJ$xKXp7PpC3uLBn0wuw7gbcvfIG5agmBEjBOGQ4nB8xqBglV10eakrllisniFGeyZT.C8CRksVTJ8uNY40oGrcP."
user = "admin"

[server]
hostname = "mail.tjo.cloud"
max-connections = 8192

[server.socket]
backlog = 1024
nodelay = true
reuse-addr = true
reuse-port = true

[server.listener.http]
bind = "[::]:80"
protocol = "http"

[server.listener.https]
bind = "[::]:443"
protocol = "http"
tls.implicit = true

[server.listener.imaptls]
bind = "[::]:993"
protocol = "imap"
tls.implicit = true

[server.listener.sieve]
bind = "[::]:4190"
protocol = "managesieve"

[server.listener.smtp]
bind = "[::]:25"
protocol = "smtp"

[server.listener.submissions]
bind = "[::]:465"
protocol = "smtp"
tls.implicit = true

[server.listener.submissions-insecure]
bind = "[::]:587"
protocol = "smtp"
tls.implicit = false

[directory.ldap_id_tjo_cloud]
type = "ldap"
url = "ldap://127.0.0.1:389"
base-dn = "ou=users,dc=mail,dc=tjo,dc=cloud"
bind.dn = "cn=%{env:SERVICE_ACCOUNT_USERNAME}%,dc=mail,dc=tjo,dc=cloud"
bind.secret = "%{env:SERVICE_ACCOUNT_PASSWORD}%"
bind.auth.method ="template"
bind.auth.template = "cn={local},ou=users,dc=mail,dc=tjo,dc=cloud"
bind.auth.search = true
name = "(&(|(objectClass=user)(objectClass=group))(cn=?))"
email = "(&(|(objectClass=user)(objectClass=group))(|(mail=?)(mailAlias=?)))"
filter.name = "(&(objectClass=user)(cn=?))"
filter.email = "(&(objectClass=user)(mail=?))"

[directory.ldap_id_tjo_cloud.attributes]
name = "cn"
description = "description"
class = "objectClass"
groups = ["memberOf"]
email = "mail"

[directory.internal]
type = "internal"
store = "nevaroo_one_postgresql_tjo_cloud"

[store.nevaroo_one_postgresql_tjo_cloud]
type = "postgresql"
database = "mail.tjo.cloud_stalwart"
host = "nevaroo-one.postgresql.cloud.internal"
user = "mail.tjo.cloud"
password = "%{env:POSTGRESQL_PASSWORD}%"
pool.max-connections = 10
port = 5432
timeout = "15s"
tls.allow-invalid-certs = true
tls.enable = false # TODO: Why does this not work?

[store.localhost_valkey]
type = "redis"
redis-type = "single"
urls = "redis://127.0.0.1:6379"

[storage]
directory = "internal"
blob = "nevaroo_one_postgresql_tjo_cloud"
data = "nevaroo_one_postgresql_tjo_cloud"
fts = "nevaroo_one_postgresql_tjo_cloud"
lookup = "localhost_valkey"

[tracing.history]
enable = true
store = "nevaroo_one_postgresql_tjo_cloud"
retention = "30d"

[metrics.prometheus]
enable = true
auth.username = "prometheus"
auth.secret = "%{env:PROMETHEUS_PASSWORD}%"

[metrics.history]
enable = true
store = "nevaroo_one_postgresql_tjo_cloud"
retention = "90d"
interval = "0 * *"

[tracer.log]
type = "journal"
level = "info"
enable = true

[asn]
type = "resource"
expires = "1d"
timeout = "5m"
max-size = 104857600

[asn.urls]
asn = [ "https://cdn.jsdelivr.net/npm/@ip-location-db/asn/asn-ipv4.csv",
        "https://cdn.jsdelivr.net/npm/@ip-location-db/asn/asn-ipv6.csv" ]
geo = [ "https://cdn.jsdelivr.net/npm/@ip-location-db/geolite2-geo-whois-asn-country/geolite2-geo-whois-asn-country-ipv4.csv",
        "https://cdn.jsdelivr.net/npm/@ip-location-db/geolite2-geo-whois-asn-country/geolite2-geo-whois-asn-country-ipv6.csv" ]
