#!/usr/bin/env bash
set -eou pipefail
export DEBIAN_FRONTEND=noninteractive

{{ $nodes := (ds "nodes").nodes }}

##
# APT non-free-firmware
##
apt update -qq
apt install -qq -yy software-properties-common
apt-add-repository --component non-free-firmware --yes

# Intel microcode to fix CPU issues.
apt install -qq -yy intel-microcode

##
# /etc/hosts
##
cat <<EOF >/etc/hosts
127.0.0.1 localhost.localdomain localhost
::1       ip6-localhost ip6-loopback
fe00::0   ip6-localnet
ff00::0   ip6-mcastprefix
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters
ff02::3   ip6-allhosts

{{- range $key, $value := $nodes }}
# {{ $key }}
{{ $value.ipv6 }} {{ $key }}.system.tjo.cloud {{ $key }}
{{ $value.ipv4 }} {{ $key }}.system.tjo.cloud {{ $key }}
{{ end }}
EOF

##
# FIREWALL
##
# Disable Web Portal on public IP
iptables -A INPUT -p tcp -i vmbr0 --dport 8006 -j DROP

##
# RPC BIND
##
systemctl disable --now rpcbind.target
systemctl disable --now rpcbind.socket
systemctl disable --now rpcbind.service

##
# SSH
##
echo "PasswordAuthentication no" >>/etc/ssh/sshd_config

##
# Networking
# Ref: https://pve.proxmox.com/pve-docs/chapter-pvesdn.html#pvesdn_installation
##
apt install -qq -yy libpve-network-perl dnsmasq frr-pythontools

systemctl disable --now dnsmasq
systemctl enable frr.service
