- name: UFW - Install
  ansible.builtin.apt:
    name: ufw
    state: present

- name: UFW - Allow SSH, HTTPS, HTTP, 1337 and 993
  community.general.ufw:
    rule: allow
    port: '{{ item }}'
    proto: tcp
  loop:
    - '22'
    - '80'
    - '443'
    - '9993' # Zerotier
    - '1337' # Healthcheck

- name: UFW - Allow SSH
  community.general.ufw:
    rule: allow
    port: '2222'
    proto: tcp

- name: UFW - Enable and deny by default
  community.general.ufw:
    state: enabled
    default: deny
