- name: Add repository
  ansible.builtin.deb822_repository:
    name: grafana
    types: deb
    uris: https://apt.grafana.com
    suites: stable
    components: main
    signed_by: https://apt.grafana.com/gpg.key

- name: Install Grafana Alloy
  ansible.builtin.apt:
    name: alloy
    state: present
    update_cache: yes

- name: Configure Alloy
  ansible.builtin.template:
    src: root/etc/default/alloy
    dest: /etc/default/alloy
    mode: '0644'
    owner: "root"
    group: "root"
  notify: Restart alloy

- name: Start and enable Alloy service
  ansible.builtin.systemd:
    name: alloy
    state: started
    enabled: true
    daemon_reload: true
