RESTIC_PASSWORD_FILE="/etc/restic/restic.password"
RESTIC_REPOSITORY_FILE="/etc/restic/restic.repository"

BACKUP_DIR="{{ restic_backup_dir }}"

RESTIC_BACKUP_ARGS="--verbose --retry-lock 10h {% for tag in restic_tags %}--tag {{ tag }} {% endfor %}"
RESTIC_FORGET_ARGS="--retry-lock 10h --keep-last 3 --keep-daily 7 --keep-weekly 5 --keep-monthly 3"
