RESTIC_PASSWORD_FILE="/etc/restic/restic.password"
RESTIC_REPOSITORY_FILE="/etc/restic/restic.repository"

BACKUP_DIR="{{ restic_backup_dir }}"

RESTIC_BACKUP_ARGS="--verbose"
RESTIC_FORGET_ARGS="--keep-last 3 --keep-daily 7 --keep-weekly 5 --keep-monthly 3"
