---
- name: Configure postgresql.tjo.cloud
  hosts: all

  vars_files:
    - vars.yaml
    - vars.terraform.yaml
    - vars.terraform.secrets.yaml
    - vars.secrets.yaml

  handlers: []

  tasks:
    - name: Run defaults
      ansible.builtin.import_role:
        name: default
      vars:
        version: "{{ tjo_cloud_version }}"
        ssh_keys: "{{ tjo_cloud_admin_ssh_keys }}"

    - name: Install and Configure Observability
      ansible.builtin.import_tasks:
        file: tasks/observability.yaml

    - name: Install and Configure Firewall
      ansible.builtin.import_tasks:
        file: tasks/firewall.yaml

    - name: Install Postgresql
      ansible.builtin.import_role:
        name: postgresql

    - name: Install and Configure postgresql server
      ansible.builtin.import_tasks:
        file: tasks/postgresql.yaml
      when: inventory_hostname in groups["postgresql"]

    - name: Install and Configure barman server
      ansible.builtin.import_tasks:
        file: tasks/barman.yaml
      when: inventory_hostname in groups["barman"]

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers
