[Unit]
Description=Technitium DNS Server

[Container]
Image=docker.io/technitium/dns-server:15.2.0@sha256:23d3b63d959e997800b095fe93009b3fae271b5258234ff2ade8535cb33682c8
Environment=DNS_SERVER_DOMAIN=dns.tjo.cloud
Environment=DNS_SERVER_PREFER_IPV6=true
Network=main.network
# WebUI
PublishPort=127.0.0.1:5380:5380/tcp
# DNS
PublishPort=[{{ ansible_all_ipv6_addresses | select('match', '^fd74:6a6f.*') | first }}]:53:53/tcp
PublishPort=[{{ ansible_all_ipv6_addresses | select('match', '^fd74:6a6f.*') | first }}]:53:53/udp
Volume=/srv/data/technitium-dns:/etc/dns:rw

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
