- name: Install Caddy
  ansible.builtin.include_role:
    name: caddy
  tags: config-reload

- name: Configure Caddy
  ansible.builtin.template:
    src: root/etc/caddy/Caddyfile
    dest: /etc/caddy/Caddyfile
    mode: '0600'
    owner: "caddy"
    group: "caddy"
  notify: Restart caddy
  tags: config-reload

- name: Create www dir for caddy
  ansible.builtin.file:
    state: directory
    path: "/var/www"
    mode: "0700"
    owner: "caddy"
    group: "caddy"

- name: Copy www files for caddy
  ansible.builtin.template:
    src: 'root/var/www/{{ item }}'
    dest: '/var/www/{{ item }}'
    mode: '0600'
    owner: caddy
    group: caddy
  loop:
    - index.html
    - style.css
    - root.crt
    - root.fingerprint
  notify: Restart caddy
  tags: config-reload

- name: Add repository
  ansible.builtin.deb822_repository:
    name: smallstep
    types: deb
    uris: https://packages.smallstep.com/stable/debian
    suites: debs
    components: main
    signed_by: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg

- name: Install step-cli and step-ca
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - step-cli
    - step-ca

- name: Create step group
  ansible.builtin.group:
    name: step
    gid: 1010
    system: true
    state: present

- name: Create step user
  ansible.builtin.user:
    name: step
    uid: 1010
    group: step
    system: true
    home: /var/lib/step
    state: present

# TODO: Copy systemd unit for step-ca
# TODO: Enable/start systemd unit for step-ca

- name: Check if key already exists
  ansible.builtin.stat:
    name: "/etc/step-ca/intermediate.key"
  register: step_intermediate_key
  tags: step-ca-csr

- name: Init Intermediate Certificate Authority
  ansible.builtin.shell: |
    YEAR=$(date -u +%Y)

    # Create new Intermediate CA CSR
    step certificate create --csr \
      --no-password --insecure \
      --san "$(hostname)" \
       "$(hostname) - ${YEAR} Intermediate" \
      /etc/step-ca/intermediate.csr /etc/step-ca/intermediate.key

    chown step:step /etc/step-ca/intermediate.csr /etc/step-ca/intermediate/root.key
    chmod 0400 /etc/step-ca/intermediate.csr /etc/step-ca/intermediate.key
  when: "not step_intermediate_key.stat.exists"
  tags: step-ca-csr
