- name: Install Caddy
  ansible.builtin.include_role:
    name: caddy
  tags: config-reload

- name: Configure Caddy
  ansible.builtin.template:
    src: root/etc/caddy/Caddyfile
    dest: /etc/caddy/Caddyfile
    mode: '0600'
    owner: "caddy"
    group: "caddy"
  notify: Restart caddy
  tags: config-reload

- name: Create www dir for caddy
  ansible.builtin.file:
    state: directory
    path: "/var/www"
    mode: "0700"
    owner: "caddy"
    group: "caddy"

- name: Copy www files for caddy
  ansible.builtin.template:
    src: 'root/var/www/{{ item }}'
    dest: '/var/www/{{ item }}'
    mode: '0600'
    owner: caddy
    group: caddy
  loop:
    - index.html
    - style.css
  notify: Restart caddy
  tags: config-reload

- name: Add repository
  ansible.builtin.deb822_repository:
    name: smallstep
    types: deb
    uris: https://packages.smallstep.com/stable/debian
    suites: debs
    components: main
    signed_by: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg

- name: Install step-cli and step-ca
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - step-cli
    - step-ca

- name: Create step group
  ansible.builtin.group:
    name: step
    gid: 1010
    system: true
    state: present

- name: Create step user
  ansible.builtin.user:
    name: step
    uid: 1010
    group: step
    system: true
    home: /var/lib/step
    state: present

- name: Check if key already exists
  ansible.builtin.stat:
    name: "/etc/step-ca/intermediate.key"
  register: step_intermediate_key
  tags: step-ca-csr

- name: Init Intermediate Certificate Authority
  ansible.builtin.shell: |
    mkdir -p /etc/step-ca

    # Create new Intermediate CA CSR
    YEAR=$(date -u +%Y)
    step certificate create --csr \
      --no-password --insecure \
      --san "$(hostname)" \
      --san "localhost" \
      --kty "EC" \
       "$(hostname) - ${YEAR} Intermediate" \
      /etc/step-ca/intermediate.csr /etc/step-ca/intermediate.key

    chown step:step -R /etc/step-ca
    chmod 0400 -R /etc/step-ca/*
  when: "not step_intermediate_key.stat.exists"
  tags: step-ca-csr

- name: Check if certificate already exists
  ansible.builtin.stat:
    name: "/etc/step-ca/intermediate.crt"
  register: step_intermediate_certificate
  tags: step-ca-csr

- name: Create step-ca systemd service file
  ansible.builtin.template:
    src: root/etc/systemd/system/step-ca.service
    dest: /etc/systemd/system/step-ca.service
    mode: '0644'
    owner: root
    group: root
  notify: Restart step-ca
  tags:
    - step-ca-csr
    - config-reload

- name: Create step-ca config file
  ansible.builtin.template:
    src: root/etc/step-ca/config.json
    dest: /etc/step-ca/config.json
    mode: '0400'
    owner: step
    group: step
  notify: Restart step-ca
  tags:
    - step-ca-csr
    - config-reload

- name: Create db dir for step-ca
  ansible.builtin.file:
    state: directory
    path: "/etc/step-ca/db"
    mode: "0700"
    owner: "step"
    group: "step"
  tags:
    - step-ca-csr
    - config-reload

- name: Start and enable step-ca service
  ansible.builtin.systemd:
    name: step-ca
    state: started
    enabled: true
    daemon_reload: true
  when: "step_intermediate_certificate.stat.exists"
  tags: step-ca-csr
