- name: Install Caddy
  ansible.builtin.include_role:
    name: caddy
  tags: config-reload

- name: Configure Caddy
  ansible.builtin.template:
    src: root/etc/caddy/Caddyfile
    dest: /etc/caddy/Caddyfile
    mode: '0600'
    owner: "caddy"
    group: "caddy"
  notify: Restart caddy
  tags: config-reload

- name: Create www dir for caddy
  ansible.builtin.file:
    state: directory
    path: "/var/www"
    mode: "0700"
    owner: "caddy"
    group: "caddy"

- name: Copy www files for caddy
  ansible.builtin.template:
    src: 'root/var/www/{{ item }}'
    dest: '/var/www/{{ item }}'
    mode: '0600'
    owner: caddy
    group: caddy
  loop:
    - index.html
    - style.css
    - root.crt
    - root.fingerprint
  notify: Restart caddy
  tags: config-reload

- name: Add repository
  ansible.builtin.deb822_repository:
    name: smallstep
    types: deb
    uris: https://packages.smallstep.com/stable/debian
    suites: debs
    components: main
    signed_by: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg

- name: Install step-cli
  ansible.builtin.apt:
    name: step-cli
    state: present
    update_cache: yes

- name: Check if key already exists
  ansible.builtin.stat:
    name: "/etc/caddy/root.key"
  register: caddy_root_key
  tags: step-ca-csr

- name: Init Intermediate Certificate Authority
  ansible.builtin.shell: |
    YEAR=$(date -u +%Y)

    # Create new Caddy Root CA CSR
    step certificate create --csr \
      --no-password --insecure \
      --san "$(hostname)" \
       "$(hostname) - ${YEAR} Intermediate" \
      /etc/caddy/root.csr /etc/caddy/root.key

    chown caddy:caddy /etc/caddy/root.csr /etc/caddy/root.key
    chmod 0400 /etc/caddy/root.csr /etc/caddy/root.key
  when: "not caddy_root_key.stat.exists"
  tags: step-ca-csr
