[Unit]
Description=An Authentik Worker
After=network-online.target

[Container]
Image=ghcr.io/goauthentik/server:{{ authentik_version }}
Exec=worker
EnvironmentFile=/etc/authentik/authentik.env
Volume=/srv/authentik/media:/media
Volume=/srv/authentik/certs:/certs
Volume=/srv/authentik/custom-templates:/custom-templates
Network=id.network
User=authentik

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
