- name: Install Notify Webhook
  ansible.builtin.include_role:
    name: notify-webhook

- name: Create SSH Key
  ansible.builtin.command:
    cmd: ssh-keygen -t ed25519 -f /root/.ssh/id_ed25519 -N ""
    creates: /root/.ssh/id_ed25519

- name: Install ssh-copy-id dependency
  ansible.builtin.apt:
    name: python3-paramiko
    state: present

- name: Copy SSH Key to backup.tjo.cloud
  ansible.builtin.import_role:
    name: rywillia.ssh-copy-id
  vars:
    hostname: "{{ backup_tjo_cloud_ssh_host }}"
    username: "{{ backup_tjo_cloud_ssh_user }}"
    password: "{{ backup_tjo_cloud_ssh_password }}"
    ssh_public_key: /root/.ssh/id_ed25519.pub
    hetzner_storagebox: true
    ssh_port: 22

- name: Install Restic
  ansible.builtin.include_role:
    name: restic
