- name: UFW - Install
  ansible.builtin.apt:
    name: ufw
    state: present

- name: UFW - Deny incoming by default
  community.general.ufw:
    default: deny
    direction: incoming

- name: UFW - Allow outgoing by default
  community.general.ufw:
    default: allow
    direction: outgoing

- name: UFW - Deny routing by default
  community.general.ufw:
    default: deny
    direction: routed

- name: UFW - Allow SSH
  community.general.ufw:
    rule: limit
    port: "22"
    proto: tcp

- name: UFW - Allow ZeroTier
  community.general.ufw:
    rule: allow
    port: "9993"
    proto: udp

- name: UFW - Allow Tailscale
  community.general.ufw:
    rule: allow
    port: "41641"
    proto: udp

- name: UFW - Allow in on tailscale0
  community.general.ufw:
    rule: allow
    interface: tailscale0
    direction: in

- name: UFW - Allow route on vm bridges
  community.general.ufw:
    rule: allow
    route:  true
    interface_in: "{{ item }}"
    interface_out: "{{ item }}"
  loop:
    - vmbr0
    - vmbr1

- name: UFW - Enable
  community.general.ufw:
    state: enabled
