- name: Install PipX
  ansible.builtin.apt:
    name: pipx
    state: present
    update_cache: yes

- name: Install prometheus-pve-exporter
  community.general.pipx:
    name: prometheus-pve-exporter
    global: true

- name: Configure prometheus-pve-exporter
  ansible.builtin.template:
    src: root/etc/systemd/system/prometheus-pve-exporter.service
    dest: /etc/systemd/system/prometheus-pve-exporter.service
    mode: '0644'
    owner: "root"
    group: "root"
  notify: Restart prometheus-pve-exporter

- name: Start and enable prometheus-pve-exporter service
  ansible.builtin.systemd:
    name: prometheus-pve-exporter
    state: started
    enabled: true
    daemon_reload: true

- name: Install Alloy
  ansible.builtin.import_role:
    name: alloy
  vars:
    alloy_username: "{{ tjo_cloud.credentials[inventory_hostname].username }}"
    alloy_password: "{{ tjo_cloud.credentials[inventory_hostname].password }}"
    otel_resource_attributes:
      service.name: "proxmox.tjo.cloud"
      service.version: "{{ tjo_cloud_version }}"
      cloud.region: "{{ cloud_region }}"
      cloud.provider: "{{ cloud_provider }}"
    alloy_custom_integrations: |
      prometheus.scrape "pve" {
        targets    = [
          { "__address__" = "localhost:9221", "instance" = constants.hostname },
        ]
        params = { "cluster" = [1], "node" = [1] }
        metrics_path = "/pve"

        forward_to = [
          otelcol.receiver.prometheus.default.receiver,
        ]
      }
