- name: Install Zerotier
  ansible.builtin.include_role:
    name: zerotier
  tags: networking

- name: Ensure zerotier systemd override dir exists
  file:
    path: /etc/systemd/system/zerotier-one.service.d
    state: directory
  tags: networking

- name: Configure zerotier overrides
  ansible.builtin.template:
    src: root/etc/systemd/system/zerotier-one.service.d/override.conf
    dest: /etc/systemd/system/zerotier-one.service.d/override.conf
    mode: '0644'
    owner: "root"
    group: "root"
  notify: Restart zerotier
  tags: networking

- name: Daemon reload in case we changed zerotier config overrides
  ansible.builtin.systemd_service:
    daemon_reload: true
  tags: networking

- name: Configure Zerotier
  ansible.builtin.shell: |
    systemctl stop zerotier-one
    echo "{{ zerotier.credentials[inventory_hostname].public_key }}" >/var/lib/zerotier-one/identity.public
    echo "{{ zerotier.credentials[inventory_hostname].private_key }}" >/var/lib/zerotier-one/identity.secret
    systemctl start zerotier-one
    sleep 5
    zerotier-cli join "{{ zerotier.network }}"
    zerotier-cli set "{{ zerotier.network }}" allowDefault=0
    zerotier-cli set "{{ zerotier.network }}" allowGlobal=0
    zerotier-cli set "{{ zerotier.network }}" allowManaged=0
    zerotier-cli set "{{ zerotier.network }}" allowDNS=0
  args:
    creates: /var/lib/zerotier-one/networks.d/{{ zerotier.network }}.conf
  tags: networking

- name: Configure zerotier local.conf
  ansible.builtin.template:
    src: root/var/lib/zerotier-one/local.conf
    dest: /var/lib/zerotier-one/local.conf
    mode: '0644'
    owner: "root"
    group: "root"
  notify: Restart zerotier
  tags: networking

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
  tags: networking

- name: Refresh facts
  ansible.builtin.setup:
    gather_subset:
      - network
  tags: networking

- name: Install SDN Dependencies
  ansible.builtin.apt:
    name: '{{ item }}'
    state: present
    update_cache: yes
  loop:
    - 'libpve-network-perl'
    - 'dnsmasq'
    - 'frr-pythontools'
  tags: networking

- name: Disable dnsmasq
  ansible.builtin.systemd:
    name: 'dnsmasq.service'
    state: stopped
    enabled: false
  tags: networking

- name: Disable SDN Dependencies
  ansible.builtin.systemd:
    name: '{{ item }}'
    state: started
    enabled: true
  loop:
    - 'frr.service'
  tags: networking

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
  tags: networking

- name: Configure resolv.conf
  ansible.builtin.template:
    src: root/etc/resolv.conf
    dest: /etc/resolv.conf
    mode: '0644'
    owner: "root"
    group: "root"
  tags: networking
