- name: Install Zerotier
  ansible.builtin.include_role:
    name: zerotier

- name: Ensure zerotier systemd override dir exists
  file:
    path: /etc/systemd/system/zerotier-one.service.d
    state: directory

- name: Configure zerotier overrides
  ansible.builtin.template:
    src: root/etc/systemd/system/zerotier-one.service.d/override.conf
    dest: /etc/systemd/system/zerotier-one.service.d/override.conf
    mode: '0644'
    owner: "root"
    group: "root"
  notify: Restart zerotier

- name: Daemon reload in case we changed zerotier config overrides
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Configure Zerotier
  ansible.builtin.shell: |
    systemctl stop zerotier-one
    echo "{{ zerotier.credentials[inventory_hostname].public_key }}" >/var/lib/zerotier-one/identity.public
    echo "{{ zerotier.credentials[inventory_hostname].private_key }}" >/var/lib/zerotier-one/identity.secret
    systemctl start zerotier-one
    sleep 5
    zerotier-cli join "{{ zerotier.network }}"
    zerotier-cli set "{{ zerotier.network }}" allowDefault=0
    zerotier-cli set "{{ zerotier.network }}" allowGlobal=0
    zerotier-cli set "{{ zerotier.network }}" allowManaged=0
    zerotier-cli set "{{ zerotier.network }}" allowDNS=0
  args:
    creates: /var/lib/zerotier-one/networks.d/{{ zerotier.network }}.conf

- name: Configure zerotier local.conf
  ansible.builtin.template:
    src: root/var/lib/zerotier-one/local.conf
    dest: /var/lib/zerotier-one/local.conf
    mode: '0644'
    owner: "root"
    group: "root"
  notify: Restart zerotier

- name: Set vmbr1 to bridge zerotier
  community.general.interfaces_file:
    dest: /etc/network/interfaces
    iface: vmbr1
    option: bridge-ports
    value: ""
    backup: false
    state: absent

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Refresh facts
  ansible.builtin.setup:
    gather_subset:
      - network

- name: Install SDN Dependencies
  ansible.builtin.apt:
    name: '{{ item }}'
    state: present
    update_cache: yes
  loop:
    - 'libpve-network-perl'
    - 'dnsmasq'
    - 'frr-pythontools'

- name: Disable SDN Dependencies
  ansible.builtin.systemd:
    name: '{{ item }}'
    state: stopped
    enabled: false
  loop:
    - 'dnsmasq.service'
    - 'frr.service'

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
