- name: UFW - Install
  ansible.builtin.apt:
    name: ufw
    state: present

- name: UFW - Allow HTTPS
  community.general.ufw:
    rule: allow
    port: '443'
    proto: tcp
    src: '{{ item }}'
  loop: "{{ tjo_cloud_networks }}"

- name: UFW - Allow SSH
  community.general.ufw:
    rule: allow
    port: '2222'
    proto: tcp

- name: UFW - Enable and deny by default
  community.general.ufw:
    state: enabled
    default: deny
