- name: Add repository
  ansible.builtin.deb822_repository:
    name: grafana
    types: deb
    uris: https://apt.grafana.com
    suites: stable
    components: main
    signed_by: https://apt.grafana.com/gpg.key

- name: Install Services
  ansible.builtin.apt:
    name: '{{ item }}'
    state: present
    update_cache: yes
  loop:
    - grafana
    - loki
    - prometheus

- name: Set facts for architecture if this is an amd64 system
  when: ansible_architecture == "x86_64"
  set_fact:
    otelcol_architecture: "amd64"

- name: Set facts for architecture if this is an arm64 system
  when: ansible_architecture == "aarch64"
  set_fact:
    otecol_architecture: "arm64"

- name: Install Opentelemtry Contrib Collector version {{ otelcol_version }}
  ansible.builtin.apt:
    deb: https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otelcol_version }}/otelcol-contrib_{{ otelcol_version }}_linux_{{ otelcol_architecture }}.deb
