{
	metrics {
		per_host
	}

	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				# Using comment hack here. Otherwise caddy fmt takes the template
				#  curly brackets and tries to "format them", which breaks things.
				# {{ "\n allow " + (tjo_cloud_networks | join(' ')) }}
				fallback_policy reject
			}
      tls
		}
	}
}

# Internal DNS with Internal CA
ca.cloud.internal {
	tls {
		issuer internal {
			dir https://127.0.0.1:9000/acme/v1/directory
      trusted_roots /etc/caddy/root.crt
      disable_tlsalpn_challenge
		}
	}

	root * /var/www
	file_server

  reverse_proxy https://localhost:9000  {
    transport http {
      tls_trust_pool file {
        pem_file /etc/caddy/root.crt
      }
    }
  }
}

# Public DNS with Public CA
ca.tjo.cloud {
	tls {
		issuer acme {
			disable_http_challenge
		}
	}

	root * /var/www
	file_server

  reverse_proxy https://localhost:9000  {
    transport http {
      tls_trust_pool file {
        pem_file /etc/caddy/root.crt
      }
    }
  }
}
