{
	metrics {
		per_host
	}

	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				# Using comment hack here. Otherwise caddy fmt takes the template
				#  curly brackets and tries to "format them", which breaks things.
				# {{ "\n allow " + (tjo_cloud_networks | join(' ')) }}
				fallback_policy reject
			}
      tls
		}
	}

	pki {
		ca ca-tjo-cloud {
      name = "{{ ansible_fqdn }}"
			root {
				format pem_file
				cert /etc/caddy/root.crt
				key /etc/caddy/root.key
			}
      intermediate_cn "{pki.ca.name} - {time.now.year} Signing"
		}
	}
}

ca.cloud.internal {
	tls {
		issuer internal {
			ca ca-tjo-cloud
		}
	}

	acme_server {
		ca ca-tjo-cloud

		allow {
			domains "*.internal"
		}
	}

	root * /var/www
	file_server
}

ca.tjo.cloud {
	tls {
		issuer acme {
			disable_http_challenge
		}
	}

	acme_server {
		ca ca-tjo-cloud

		allow {
			domains "*.internal"
		}
	}

	root * /var/www
	file_server
}
