{
	metrics {
		per_host
	}

  servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				# Using comment hack here. Otherwise caddy fmt takes the template
				#  curly brackets and tries to "format them", which breaks things.
				# {{ "\n allow " + (tjo_cloud_networks | join(' ')) }}
				fallback_policy reject
			}
			tls {
				issuer acme {
					disable_http_challenge
				}
			}
		}
	}

  pki {
		ca ca-tjo-cloud {
			root {
				format pem_file
				cert /var/lib/ca/.step/certs/intermediate_ca.crt
				key /var/lib/ca/.step/secrets/intermediate_ca_key
			}
		}
	}
}

ca.cloud.internal {
	tls {
		issuer internal {
			ca ca-tjo-cloud
		}
	}

  acme_server {
		ca ca-tjo-cloud

    allow {
      domains "*.internal"
    }
	}

  root * /var/www
	file_server
}

ca.tjo.cloud {

  acme_server {
		ca ca-tjo-cloud

    allow {
      domains "*.internal"
    }
	}

  root * /var/www
	file_server
}
