---
- name: Configure dns.tjo.cloud
  hosts: all

  vars_files:
    - vars.yaml
    - vars.terraform.yaml
    - vars.secrets.yaml

  handlers:
    - name: Restart stack
      ansible.builtin.systemd:
        name: '{{ item }}'
        state: restarted
        enabled: true
        daemon_reload: true
      loop:
        - "technitium-dns"

  tasks:
    - name: Run defaults
      ansible.builtin.import_role:
        name: default
      vars:
        version: "{{ tjo_cloud_version }}"
        ssh_keys: "{{ tjo_cloud_admin_ssh_keys }}"
        configure_resolved: true

    - name: Install and Configure Observability
      ansible.builtin.import_tasks:
        file: tasks/observability.yaml

    - name: Install and Configure Firewall
      ansible.builtin.import_tasks:
        file: tasks/firewall.yaml

    - name: Install and Configure Backups
      ansible.builtin.import_tasks:
        file: tasks/backup.yaml

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Install Caddy
      ansible.builtin.import_role:
        name: caddy

    - name: Configure Caddy
      ansible.builtin.template:
        src: root/etc/caddy/Caddyfile
        dest: /etc/caddy/Caddyfile
        mode: '0600'
        owner: "caddy"
        group: "caddy"
      notify: Restart caddy
      tags: config-reload

    - name: Configure dns
      ansible.builtin.include_tasks:
        file: tasks/dns.yaml

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers
