---
- name: Configure proxmox.tjo.cloud
  hosts: all

  vars_files:
    - vars.yaml
    - vars.secrets.yaml
    - vars.terraform.yaml
    - vars.terraform.secrets.yaml

  handlers:
    - name: Restart prometheus-pve-exporter
      ansible.builtin.systemd:
        name: prometheus-pve-exporter
        state: restarted
    - name: Restart networking
      ansible.builtin.systemd:
        name: networking
        state: restarted
    - name: Restart systemd-journald
      ansible.builtin.systemd:
        name: systemd-journald
        state: restarted

  tasks:
    - name: Fetch Public SSH Key
      ansible.builtin.set_fact:
        root_ssh_key_pub: "{{ lookup('ansible.builtin.file', '~/.ssh/id_rsa.pub') }}"

    - name: Configure authorized keys for users
      ansible.posix.authorized_key:
        user: root
        state: present
        exclusive: true
        key: "{{ lookup('ansible.builtin.dict', tjo_cloud_admin_ssh_keys) | map(attribute='value') | join('\n')}}"

    - name: Configure authorized keys for nodes
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ hostvars[item]['root_ssh_key_pub'] }}"
      loop: "{{ ansible_play_hosts | reject('equalto', inventory_hostname) }}"

    - name: Include base task
      ansible.builtin.include_tasks:
        file: tasks/base.yaml

    - name: Include firewall task
      ansible.builtin.include_tasks:
        file: tasks/firewall.yaml
      tags: firewall

    - name: Include folder2ram task
      ansible.builtin.include_tasks:
        file: tasks/folder2ram.yaml

    - name: Connect to Tailscale
      ansible.builtin.shell: |
        tailscale up \
          --reset \
          --accept-dns=false \
          --ssh=true \
          --authkey={{ tailscale_auth_key }} \
          --hostname="{{ inventory_hostname }}.system.tjo.cloud" \
          --advertise-tags="tag:system-tjo-cloud"

        tailscale serve --service=svc:proxmox https+insecure://localhost:8006

        cat > /etc/sysctl.d/99-tailscale.conf << EOF
        net.ipv4.ip_forward = 1
        net.ipv6.conf.all.forwarding = 1
        EOF
        sysctl -p /etc/sysctl.d/99-tailscale.conf
      tags: tailscale

    - name: Configure Observability
      ansible.builtin.include_tasks:
        file: tasks/observability.yaml

    - name: Add custom networking options
      ansible.builtin.template:
        src: root/etc/network/interfaces.d/custom.conf
        dest: /etc/network/interfaces.d/custom.conf
        mode: '0644'
        owner: "root"
        group: "root"
      notify: Restart networking

    - name: Configure SDN
      ansible.builtin.include_tasks:
        file: tasks/sdn.yaml
