---
- name: Configure proxmox.tjo.cloud
  hosts: all

  vars_files:
    - vars.yaml
    - vars.secrets.yaml
    - vars.terraform.yaml
    - vars.terraform.secrets.yaml

  handlers:
    - name: Restart prometheus-pve-exporter
      ansible.builtin.systemd:
        name: prometheus-pve-exporter
        state: restarted
    - name: Restart networking
      ansible.builtin.systemd:
        name: networking
        state: restarted

  tasks:
    - name: Save garage node id
      ansible.builtin.set_fact:
        root_ssh_key_pub: "{{ lookup('ansible.builtin.file', '~/.ssh/id_rsa.pub') }}"

    - name: Configure authorized keys for users
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ lookup('ansible.builtin.dict', ssh_keys) | map(attribute='value') | join('\n')}}"

    - name: Configure authorized keys for nodes
      ansible.posix.authorized_key:
        user: root
        state: present
        key: "{{ hostvars[item]['root_ssh_key_pub'] }}"
      loop: "{{ ansible_play_hosts | reject('equalto', inventory_hostname) }}"

    - name: Install Tailscale
      ansible.builtin.include_role:
        name: tailscale

    - name: Connect to Tailscale
      ansible.builtin.shell: |
        tailscale up \
          --reset \
          --accept-dns=false \
          --ssh=true \
          --authkey {{ tailscale_auth_key }} \
          --hostname "{{ inventory_hostname }}.system.tjo.cloud" \
          --advertise-tags "tag:system-tjo-cloud"

        tailscale serve --service=svc:proxmox https+insecure://localhost:8006

    - name: Configure Observability
      ansible.builtin.include_tasks:
        file: tasks/observability.yaml

    - name: Add custom networking options
      ansible.builtin.template:
        src: root/etc/network/interfaces.d/custom.conf
        dest: /etc/network/interfaces.d/custom.conf
        mode: '0644'
        owner: "root"
        group: "root"
      notify: Restart networking

    - name: Configure SDN
      ansible.builtin.include_tasks:
        file: tasks/sdn.yaml
