[Match]
Name=wg{{ item.id }}

[Network]
Description=Wireguard connection to {{ item.name }}
Address={{ cfg.wireguard_address }}
Address=fe80:fd76:6a6f:3030:70::{{cfg.id}}/64

[Route]
Destination={{ item.wireguard_address }}
Table=1000

[RoutingPolicyRule]
IncomingInterface=wg{{ item.id }}
Table=1000
Priority=100
Family=ipv6
