[NetDev]
Name=wg{{ item.id }}
Kind=wireguard
Description=Wireguard Tunnel to {{ item.name }}

[WireGuard]
ListenPort={{ 51820 + item.id }}
PrivateKeyFile=/etc/systemd/network/wg.private_key
RouteTable=off

[WireGuardPeer]
PublicKey={{ item.wireguard_public_key }}
PresharedKey={{ wireguard_pre_shared_key }}
{% if "wireguard_endpoint" in item %}
Endpoint={{ item.wireguard_endpoint }}:{{ 51820 + cfg.id }}
{% endif %}
PersistentKeepalive=25
AllowedIPs=fe80:fd76:6a6f:3030:70::{{item.id}}/128, {{ item.wireguard_address }}, ::/0
