[NetDev]
Name=wg{{ item.id }}
Kind=wireguard
Description=Wireguard Tunnel to {{ item.name }}

[WireGuard]
ListenPort={{ 51820 + item.id }}
PrivateKeyFile=/etc/systemd/network/wg.private_key
RouteTable=off

[WireGuardPeer]
PublicKey={{ item.wireguard_public_key }}
PresharedKey={{ wireguard_pre_shared_key }}
Endpoint={{ item.wireguard_endpoint_ipv6 }}:{{ 51820 + cfg.id }}
PersistentKeepalive=25
AllowedIPs={{ item.allowed_ips | join(', ') }}
