[Unit]
Description=A Stalwart Container

[Container]
Image=docker.io/stalwartlabs/stalwart:v0.13.0
Volume=/etc/stalwart/config.toml:/opt/stalwart/etc/config.toml:rw
EnvironmentFile=/etc/stalwart/secrets.env
Network=main.network
AutoUpdate=registry
PublishPort=[::]:80:80
PublishPort=0.0.0.0:80:80
PublishPort=[::]:25:25
PublishPort=0.0.0.0:25:25
PublishPort=[::]:443:443
PublishPort=0.0.0.0:443:443
PublishPort=[::]:465:465
PublishPort=0.0.0.0:465:465
PublishPort=[::]:993:993
PublishPort=0.0.0.0:993:993
PublishPort=[::]:4190:4190
PublishPort=0.0.0.0:4190:4190

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
