[Unit]
Description=A Stalwart Container

[Container]
Image=docker.io/stalwartlabs/stalwart:v0.12.4
Volume=/srv/data/stalwart:/opt/stalwart
Volume=/etc/stalwart/config.toml:/stalwart.config
Network=main.network
AutoUpdate=registry
PublishPort=8080:8080
PublishPort=25:25
PublishPort=465:465
PublishPort=993:993
PublishPort=4190:4190

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
