[Unit]
Description=A PgAdmin Container

[Container]
Image=docker.io/dpage/pgadmin4:8
Volume=/srv/pgadmin/data:/var/lib/pgadmin
Volume=/etc/pgadmin/config_system.py:/etc/pgadmin/config_system.py:ro
EnvironmentFile=/etc/pgadmin/secrets.env
Environment=PGADMIN_LISTEN_PORT=8000
Environment=PGADMIN_DISABLE_POSTFIX=true
Network=main.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
