[Unit]
Description=Nut Exporter
After=network-online.target nut-server.service
Wants=network-online.target nut-server.service

[Service]
Environment=NUT_EXPORTER_USERNAME=admin
Environment=NUT_EXPORTER_PASSWORD={{ nut_admin_password }}
ExecStart=/usr/local/bin/nut-exporter --nut.server="[::1]" --nut.serverport=3493 --web.listen-address=:9199
NoNewPrivileges=yes
PrivateUsers=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
