nodes:
  nevaroo:
    primary: true
    lan:
      ipv4:
        address: "10.0.0.4/10"
      ipv6:
        address: "fd74:6a6f::4/128"
    wan:
      ipv6:
        proto: "static"
        address: "2a01:4f8:120:7700::3/128"
        gateway: "fe80::1"
        prefix: "2a01:4f8:120:7700::/56"
