[Unit]
Description=Lets Encrypt client and ACME library written in Go

[Service]
EnvironmentFile=/etc/lego/lego.env
StateDirectory=lego
ExecStart=/usr/local/bin/lego --accept-tos --path=${STATE_DIRECTORY} $CUSTOM_ARGS renew
Type=oneshot
