[Unit]
Description=Backup PostgreSQL databases using Barman
RequiresMountsFor=/srv/data/barman
OnFailure=notify-webhook-failure@%n.service

[Service]
Type=simple
User=barman
{% for cluster in postgresql_clusters %}
ExecStart=/usr/bin/barman backup {{ cluster.name }} --wait
{% endfor %}
