[Unit]
Description=Backup PostgreSQL databases using Barman
RequiresMountsFor=/srv/data/barman
OnFailure=notify-webhook-failure@%n.service

[Service]
Type=simple
User=barman
ExecStart=/usr/bin/barman backup local --wait
