[Unit]
Description=Run Barman cron every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=30s
Persistent=true
RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
