[Unit]
Description=Restic Backup
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
OnFailure=notify-webhook-failure@%n.service

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/restic.env
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Environment=GOMAXPROCS=1
RuntimeDirectory=restic
ExecStart=/usr/libexec/restic/restic-backup
