[Unit]
Description=Restic Check
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
OnFailure=notify-webhook-failure@%n.service

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/restic.env
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Environment=GOMAXPROCS=1
RuntimeDirectory=restic
ExecStart=/usr/local/bin/restic-helper $RESTIC_COMMON_ARGS check $RESTIC_CHECK_ARGS
ExecStopPost=/usr/local/bin/notify-webhook %n "$SERVICE_RESULT"
