global
  log /dev/log local0 info
  log /dev/log local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

defaults
  timeout client 30s
  timeout server 30s
  timeout connect 5s
  log global
  # Ref: https://www.haproxy.com/documentation/haproxy-configuration-manual/1-8r1/#8.2.4
  log-format "[%t] client_ip=%ci client_port=%cp frontend=%f frontend_port=%fp backend=%b backend_server=%s backend_ip=%si backend_port=%sp ssl_sni=%[var(ssl_sni)] bytes_received=%B bytes_sent=%U state=%ts %Tw/%Tc/%Tt %ac/%fc/%bc/%sc/%rc %sq/%bq"

frontend stats
  bind 127.0.0.1:8404
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  stats enable
  stats uri /stats
  stats refresh 10s

backend bk_k8s_tjo_cloud
  server first 10.8.16.0:443 check send-proxy-v2

backend bk_api_internal_k8s_tjo_cloud
  server first api.internal.k8s.tjo.cloud:6443 check

backend bk_k8s_tealfleet_com
  server first 10.4.61.10:443 check

backend bk_jakku_system_tjo_space
  server first internal-jakku.system.tjo.space:4443 check send-proxy-v2

backend bk_batuu_system_tjo_space
  server first internal-batuu.system.tjo.space:4443 check send-proxy-v2

backend bk_batuu_system_tjo_space_ssh
  server first internal-batuu.system.tjo.space:2244 check send-proxy-v2

backend bk_nevaroo_system_tjo_space
  server first internal-nevaroo.system.tjo.space:4443 check send-proxy-v2

frontend ft_https
  bind [::]:443 v4v6
  mode tcp

  acl blocked_bad_crawlers src -f /etc/haproxy/blocked-bad-crawlers.acl
  acl blocked_manual src -f /etc/haproxy/blocked-manual.acl
  tcp-request connection reject if blocked_bad_crawlers || blocked_manual

  tcp-request inspect-delay 5s
  tcp-request content set-var(ssl_sni) req.ssl_sni
  tcp-request content accept if { req_ssl_hello_type 1 }

  use_backend %[req.ssl_sni,lower,map_end(/etc/haproxy/https.map,bk_k8s_tjo_cloud)]

  default_backend bk_k8s_tjo_cloud

frontend ft_ssh
  bind [::]:22 v4v6
  mode tcp

  acl blocked_bad_crawlers src -f /etc/haproxy/blocked-bad-crawlers.acl
  acl blocked_manual src -f /etc/haproxy/blocked-manual.acl
  tcp-request connection reject if blocked_bad_crawlers || blocked_manual

  default_backend bk_batuu_system_tjo_space_ssh

frontend ft_healthz
  bind [::]:1337 v4v6
  mode http
  http-request return status 200 content-type "text/plain" lf-string "OK" hdr "cache-control" "no-cache" if { path /healthz }
