[Unit]
Description=Prometheus PVE Exporter
Wants=network-online.target
Wants=tailscaled.service
After=network-online.target
After=tailscaled.service

[Service]
Type=simple
Restart=always
Environment=PVE_VERIFY_SSL=false
Environment="PVE_USER={{ prometheus_pve_exporter.user }}"
Environment="PVE_TOKEN_NAME={{ prometheus_pve_exporter.token_name }}"
Environment="PVE_TOKEN_VALUE={{ prometheus_pve_exporter.token_value }}"
ExecStart=/usr/local/bin/pve_exporter

[Install]
WantedBy=multi-user.target
