[Unit]
Description=An Authentik Server
Requires=postgresql.service
After=postgresql.service
Requires=valkey.service
After=valkey.service

[Container]
Image=ghcr.io/goauthentik/server:2025.2.1
Exec=server
EnvironmentFile=/etc/authentik/authentik.env
EnvironmentFile=/etc/authentik/secrets.env
Volume=/srv/authentik/media:/media
Volume=/srv/authentik/custom-templates:/custom-templates
Volume=/srv/authentik/assets/custom.css:/web/dist/custom.css:ro
Volume=/srv/authentik/assets/custom.css:/web/dist/custom.css:ro
Volume=/srv/authentik/assets/background.jpg:/web/dist/assets/images/flow_background.jpg:ro
Volume=/srv/authentik/assets/logo.svg:/web/dist/assets/images/logo.svg:ro
Volume=/srv/authentik/assets/icon.svg:/web/dist/assets/images/icon.svg:ro
Network=main.network
User=1200
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
