[Unit]
Description=A Caddy Container

[Container]
Image=caddy-with-rate-limit
PublishPort=0.0.0.0:443:443
PublishPort=0.0.0.0:80:80
Volume=/etc/caddy:/etc/caddy:ro
Volume=/srv/caddy/data:/data:rw
Network=main.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=authentik-server.service
