[Unit]
Description=Garage Data Store
After=network-online.target
Wants=network-online.target

[Service]
Environment=RUST_LOG=garage=info
Environment=RUST_BACKTRACE=1
Environment=GARAGE_LOG_TO_JOURNALD=true
EnvironmentFile=/etc/garage/secrets.env
ExecStart=/usr/local/bin/garage server
StateDirectory=garage
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/srv/garage
NoNewPrivileges=true
LimitNOFILE=42000
SyslogIdentifier=garage

[Install]
WantedBy=multi-user.target
