{
  admin :2019

  metrics {
    per_host
  }

  servers {
    listener_wrappers {
      proxy_protocol {
        allow 10.0.2.0/24 fd74:6a6f:0:0200::/56
      }
      tls
    }
  }
}

mail.tjo.cloud {
  respond /healthz "OK"
  reverse_proxy systemd-roundcube:80

  tls {
    issuer acme {
      disable_http_challenge
    }
  }
}

admin.mail.tjo.cloud {
  respond /healthz "OK"
  reverse_proxy systemd-stalwart:443

  tls {
    issuer acme {
      disable_http_challenge
    }
  }
}
