[NetDev]
Name=wg0
Kind=wireguard
Description=wg0 - Wireguard Tunnel

[WireGuard]
ListenPort=51820
PrivateKeyFile=/etc/systemd/network/wg.private_key
RouteTable=off

# TODO: Add external peers
# TODO: Also define routes in network
{% for host in (ansible_play_hosts | reject('equalto', inventory_hostname)) %}
# Host: {{ host }}
[WireGuardPeer]
PublicKey={{ hostvars[host].wireguard_public_key }}
PresharedKey={{ wireguard_pre_shared_key }}
AllowedIPs={{ hostvars[host].wireguard.address }}

{% endfor %}
