[Unit]
Description=Backup PostgreSQL databases using Barman
Requires=postgresql.service
After=postgresql.service
RequiresMountsFor=/srv/backup/postgresql

[Service]
Type=simple
User=barman
ExecStart=/usr/bin/barman backup local
