[Unit]
Description=Run Barman cron
Requires=postgresql.service
After=postgresql.service
OnFailure=notify-webhook-failure@%n.service

[Service]
Type=simple
User=barman
ExecStart=/usr/bin/barman cron
