[Unit]
Description=Lets Encrypt client and ACME library written in Go
AssertPathExists=/var/lib/postgresql

[Service]
EnvironmentFile=/etc/lego/lego.env
EnvironmentFile=/etc/lego/secrets.env
Environment=HOSTNAME=%H
StateDirectory=lego
# Only run if the state directory is empty.
# As in, we have not yet run "lego run".
ExecCondition=/usr/bin/sh -c '[ -z "$(find ${STATE_DIRECTORY} -mindepth 1 -maxdepth 1)" ]'
ExecStart=/usr/local/bin/lego --path=${STATE_DIRECTORY} --email=${EMAIL} --domains=${HOSTNAME} --dns=dnsimple run
ExecStartPost=/usr/bin/install -o postgres -g postgres -m 400 /var/run/lego/certificates/${DOMAIN}.crt /var/lib/postgresql/ssl.crt
ExecStartPost=/usr/bin/install -o postgres -g postgres -m 400 /var/run/lego/certificates/${DOMAIN}.key /var/lib/postgresql/ssl.key
Type=oneshot
