{
	log
	metrics {
		per_host
	}
}

##
# GRAFANA
##
monitor.tjo.cloud {
	reverse_proxy localhost:3000 {
		health_uri /api/health
		health_port 3000
	}
}

##
# PROMETHEUS
##
prometheus.monitor.tjo.cloud {
	respond "Not quite working" 500
  # TODO: Implement authenticaiton then proxy
}

##
# LOKI
##
loki.monitor.tjo.cloud {
	respond "Not quite working" 500
  # TODO: Implement authentication then proxy
}

##
# OTEL
##
grpc.otel.monitor.tjo.cloud {
	reverse_proxy h2c://localhost:4317
}
http.otel.monitor.tjo.cloud {
	reverse_proxy localhost:4318
}
