[Unit]
Description=Send Systemd Notifications via Webhook

[Service]
Type=oneshot
ExecStart=/usr/local/bin/notify-webhook %i

[Install]
WantedBy=multi-user.target
