{
  acme_ca https://acme.zerossl.com/v2/DV90
  email   sysadmin@tjo.cloud
}

id.tjo.cloud,
id.tjo.space {
	respond /healthz "OK"
	reverse_proxy systemd-authentik-server:9000

	log

	tls {
		issuer acme {
			disable_http_challenge
		}
	}
}
