{
	acme_ca https://acme.zerossl.com/v2/DV90
	email sysadmin@tjo.cloud
}

id.tjo.cloud,
id.tjo.space {
	log
	tls {
		issuer acme {
		}
	}

	respond /healthz "OK"

	rate_limit {
		zone token_endpoint {
			key {http.request.remote_host}
			events 2
			window 10s
			match {
				path /application/o/token/
			}
		}
	}

	reverse_proxy systemd-authentik-server:9000
}
