[Unit]
Description=An Netbird Dashboard
After=network-online.target

[Container]
Image=ghcr.io/netbirdio/dashboard@sha256:1a23b0e1fe7b4deb444c1c570d6cff298f79ee350dc7a0b9a28d6c29941ad5fd
Network=vpn.network
IP6=fd6a:e0a3:bb4b:c6b3::3
Environment=NETBIRD_MGMT_API_ENDPOINT=https://vpn.tjo.cloud
Environment=NETBIRD_MGMT_GRPC_API_ENDPOINT=https://vpn.tjo.cloud
Environment=AUTH_AUDIENCE=netbird-dashboard
Environment=AUTH_CLIENT_ID=netbird-dashboard
Environment=AUTH_CLIENT_SECRET=
Environment=AUTH_AUTHORITY=https://vpn.tjo.cloud/oauth2
Environment=USE_AUTH0=false
Environment=AUTH_SUPPORTED_SCOPES=openid profile email groups
Environment=AUTH_REDIRECT_URI=/nb-auth
Environment=AUTH_SILENT_REDIRECT_URI=/nb-silent-auth

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
