[Unit]
Description=Dynamic DNS Updater
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/dyndns
Type=simple
Restart=always
ExecStart=/usr/local/bin/dyndns

[Install]
WantedBy=multi-user.target