logging {
	level  = "info"
	format = "logfmt"
}

//===
// Metrics
//===
prometheus.exporter.self "default" { }

prometheus.exporter.unix "default" {
	disable_collectors = [
		"fibrechannel",
		"infiniband",
		"tapestats",
		"systemd",
	]
}

discovery.relabel "unix" {
	targets = prometheus.exporter.unix.default.targets

	rule {
		target_label = "instance"
		replacement  = constants.hostname
	}

	rule {
		target_label = "job"
		replacement  = "integrations/node_exporter"
	}
}

prometheus.scrape "exporters" {
	scrape_interval = "15s"
	targets         = concat(
		prometheus.exporter.self.default.targets,
		discovery.relabel.unix.output,
		[
			{"__address__" = "127.0.0.1:9558", "instance" = constants.hostname, "job" = "integrations/systemd_exporter"},
		],
	)
	forward_to = [
	// {{ '\n' + alloy_pre_process_metrics + ',' }}
	]
}

//===
// Logs
//===
loki.relabel "journal" {
	forward_to = []

	// Add all journal fields not starting with _
	// to the labels.
	rule {
		action = "labelmap"
		regex  = "__journal_([a-zA-Z0-9].*)"
	}

	// message label is duplicated. The loki.source
	// already reads it and sets it as the message itself.
	rule {
		action = "labeldrop"
		regex  = "message"
	}

	rule {
		source_labels = ["__journal__systemd_unit"]
		target_label  = "unit"
	}

	rule {
		source_labels = ["__journal__boot_id"]
		target_label  = "boot_id"
	}

	rule {
		source_labels = ["__journal__transport"]
		target_label  = "transport"
	}

	rule {
		source_labels = ["__journal_priority_keyword"]
		target_label  = "level"
	}
}

loki.source.journal "default" {
	max_age       = "1h0m0s"
	forward_to    = [loki.process.drop_old.receiver]
	relabel_rules = loki.relabel.journal.rules
}

local.file_match "var_logs" {
	path_targets = [{
		__address__ = "localhost",
		__path__    = "/var/log/{dmesg,messages,*.log}",
		instance    = constants.hostname,
		job         = "integrations/node_exporter",
	}]
}

loki.source.file "var_logs" {
	targets    = local.file_match.var_logs.targets
	forward_to = [loki.process.drop_old.receiver]
}

loki.process "drop_old" {
	stage.drop {
		older_than          = "1h"
		drop_counter_reason = "too old"
	}
	forward_to = [
	// {{ '\n' + alloy_pre_process_logs + ',' }}
	]
}

//===
// OTEL
//===
otelcol.receiver.prometheus "default" {
	output {
		metrics = [otelcol.processor.attributes.default.input]
	}
}

otelcol.receiver.loki "default" {
	output {
		logs = [otelcol.processor.attributes.default.input]
	}
}

otelcol.processor.attributes "default" {
	output {
		metrics = [otelcol.processor.resourcedetection.default.input]
		logs    = [otelcol.processor.resourcedetection.default.input]
		traces  = [otelcol.processor.resourcedetection.default.input]
	}
}

otelcol.processor.resourcedetection "default" {
	detectors = ["env", "system"]

	system {
		hostname_sources = ["os"]

		resource_attributes {
			host.arch {
				enabled = true
			}

			host.id {
				enabled = true
			}

			host.name {
				enabled = true
			}

			os.type {
				enabled = true
			}
		}
	}

	output {
		metrics = [otelcol.processor.batch.default.input]
		logs    = [otelcol.processor.batch.default.input]
		traces  = [otelcol.processor.batch.default.input]
	}
}

otelcol.processor.batch "default" {
	timeout = "10s"

	output {
		metrics = [otelcol.exporter.otlp.default.input]
		logs    = [otelcol.exporter.otlp.default.input]
		traces  = [otelcol.exporter.otlp.default.input]
	}
}

otelcol.auth.oauth2 "default" {
	token_url       = "https://id.tjo.cloud/application/o/token/"
	client_id       = "Vlw69HXoTJn1xMQaDX71ymGuLVoD9d2WxscGhksh"
	client_secret   = "none"
	endpoint_params = {
		grant_type = ["client_credentials"],
		username   = ["{{ alloy_username }}"],
		password   = ["{{ alloy_password }}"],
	}
}

otelcol.exporter.otlp "default" {
	client {
		endpoint = "{{ alloy_endpoint }}"
		auth     = otelcol.auth.oauth2.default.handler
	}
}

//===
// CUSTOM INTEGRATIONS
//===
// {{ "\n" + alloy_custom_integrations }}
