[Unit]
Description=Backup PostgreSQL databases using Barman
OnFailure=notify-webhook-failure@%n.service

BindsTo={% for host in groups['postgresql'] %}barman-backup@{{ hostvars[host].ansible_hostname }}.service {% endfor %}

After={% for host in groups['postgresql'] %}barman-backup@{{ hostvars[host].ansible_hostname }}.service {% endfor %}

[Service]
Type=oneshot
ExecStart=/bin/true
