[Unit]
Description=Run Barman cron
RequiresMountsFor=/srv/data/barman
OnFailure=notify-webhook-failure@%n.service

[Service]
Type=simple
User=barman
ExecStart=/usr/bin/barman cron
