# Enables authentication through the X-Scope-OrgID header, which must be present
# if true. If false, the OrgID will always be set to 'fake'
auth_enabled: false

compactor:
  working_directory: /srv/data/loki/retention
  delete_request_store: filesystem
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 150

limits_config:
  #split_queries_by_interval: 24h
  retention_period: 744h # 31 days
  allow_structured_metadata: true
  discover_log_levels: true
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20

distributor:
  otlp_config:
    default_resource_attributes_as_index_labels:
    - os.type
    - host.name
    - host.id
    - host.type
    - service.instance.id
    - service.name
    - service.namespace
    - cloud.availability_zone
    - cloud.region
    - cloud.provider
    - container.name
    - deployment.environment.name
    - k8s.cluster.name
    - k8s.container.name
    - k8s.cronjob.name
    - k8s.daemonset.name
    - k8s.deployment.name
    - k8s.job.name
    - k8s.namespace.name
    - k8s.pod.name
    - k8s.replicaset.name
    - k8s.statefulset.name

schema_config:
  configs:
    - from: "2024-08-17"
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

server:
  # Read timeout for HTTP server
  http_server_read_timeout: 1m
  # Write timeout for HTTP server
  http_server_write_timeout: 1m

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 2048

querier:
  max_concurrent: 2048

frontend:
  max_outstanding_per_tenant: 1024
  compress_responses: true

pattern_ingester:
  enabled: true

ruler:
  storage:
    type: local
    local:
      directory: /srv/data/loki/rules
  enable_api: true

common:
  path_prefix: /srv/data/loki
  storage:
    filesystem:
      chunks_directory: /srv/data/loki/chunks
      rules_directory: /srv/data/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
